/* form stuff
======================================= */

.form-section {
  /* width: calc(100% - 4rem);
  max-width: calc(1114px - 4rem); */
  width: 100%;
  max-width: 1114px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  border-radius: 10px;
  /* margin-top: 2rem; */
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: grid;
  gap: 1rem;
}

.form-row-heading {
  margin-top: 1rem;
}

.form-row-flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* individual form item
============================== */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

p.input-hint {
  padding: 0;
  margin: 0;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.form-group select,
.form-group input,
.form-group textarea {
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: calc(100% - 26px); */
  width: 100%;
  /* line-height: 1; */
}

/* .form-group select,
.form-group input {
  max-height: 38.5px;
} */

.form-group select {
  width: 100%;
  /* max-width: 275px; */
}

.form-group.with-addon {
  flex-direction: row;
  justify-content: flex-start;

  label.input-addon {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: 1.5; */
    color: #212529;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 5px 0 0 5px;
    margin: 0;
  }

  select,
  input,
  textarea {
    border-radius: 0 5px 5px 0;
  }
}


/* radio buttons
============================== */

.radio-group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: .4rem;
  align-items: stretch;
  justify-content: stretch;
}

.radio-group legend {
  font-weight: 700;
  padding: 0;
  margin-bottom: 5px;

}

.radio-group .radio-button-container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
  width: 100%;
  gap: .75rem;
}


/* button row */

.form-row.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form button {
  /* padding: 10px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 700; */
  align-self: flex-end;
}

.submit-button {
  align-self: flex-end;
}

.submit-button:hover:not([disabled]) {
  background-color: #25417D;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

button:disabled {
  opacity: .3;
  cursor: default;
}

.required {
  color: red;
}

/* toggle button to change form elements */

.form-toggle-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #3561B5;
  margin-bottom: 5px;
}

.form-toggle-button:hover {
  text-decoration: underline;
}

input[type="time"], input[type="date"] {
  font-family: var(--defaultFonts);
  height: 18.5px;
  max-width: 150px;

  &:placeholder {
    color: #777;
  }
} 

.field-legend-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 0 1rem 0;

  .field-legend {
    margin: 0 0 10px 0;

    &:last-child {
      margin: 0;
    }
  }

  + p {
    margin-top: 0;
  }
}

.form-group textarea {
  font-family: var(--defaultFonts);
}

.form-group input[type="checkbox"] {
  width: auto;
  align-self: flex-start;
}

fieldset.form-group {
  border: none;
  padding: 0;
  margin: 0;

  legend {
    font-weight: 700;
    margin-bottom: .25rem;
    padding: 0;

    .btn.btn-transparent.collapse-checkboxes-button {
      font-weight: 700;
      font-size: 1rem;
      color: #333;
      padding: 0;
      margin: 0;
      border: none;
      
      i {
        margin-left: .5rem;
        color: #333;
      }
    }
  }

  .checkbox-group {
    display: none;

    &.show {
      display: block;
    }
  }

  .checkbox-group,
  .radio-group {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    li {
      margin: 0;
      padding: 0;
    
      label {
        font-weight: normal;
        display: flex;
        gap: .5rem;
        cursor: pointer;
        justify-content: flex-start;
        align-items: flex-start;

        input[type="checkbox"],
        input[type="radio"] {
          cursor: pointer;
          margin: 0;
          padding: 0;
          width: auto;
          margin-top: .35rem;
        }
      }

    }
  }

  .checkbox-group {

    label {
      margin-top: .5rem;
      margin-left: 1px;
    }

  }

  .radio-group {

    label {
      margin: 0 0 .25rem 0;

      &:first-of-type {
        margin-top: .25rem;
      }
    }

  }
}

.toggle-switch-container {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  legend {
    margin-bottom: 1rem;
  }

  .toggle-switch {
    display: inline-flex;
    height: 10px;
    width: 50px;
    background-color: #ddd;
    /* border: 1px solid #ddd; */
    border-radius: 50rem;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-switch__button {
      display: inline-block;
      background-color: var(--grayBlue);
      border-radius: 50rem;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: left .2s ease-in-out, background-color .2s ease-in-out;
      /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
      

      &.active {
        left: calc(100% - 25px);
        /* background-color: var(--primaryBlue); */
        background-color: var(--green);
        /* background-color: rgba(36, 111, 255, 1); */
      }
    }

    .toggle-switch__text {
      /* display: block; */
      font-size: .875em;
      /* color: #fff; */
      font-weight: 700;
      position: absolute;
      /* left: calc(100% - 35px); */
      left: 115%;
      /* transition: left .2s; */

      /* &.active {
        left: 15px;
      } */
    }
  }
}