/* Default Tab Styles
======================================== */

.tabs {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding-top: 1rem;
  padding-left: 1rem;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #aaa;
    width: 100%;
    margin-left: -1rem;
  }

  .tabs__tab-item, 
  button.tabs__tab-item {
    border: 1px solid #ddd;
    padding: 14px 16px;
    margin-left: .25rem;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    background-color: #ddd;
    color: var(--drakBlue);
  
    &:hover {
      background-color: #aaa;
      border: 1px solid #aaa;
    }

    &:focus {
      box-shadow: none;
    }

    &.active {
      background-color: #fff;
      border: 1px solid #aaa;
      border-bottom: 1px solid #fff;
      position: relative;
      z-index: 3;
      

      &:hover {
        background-color: #aaa;
        border-color: #aaa;
      }
    }
  }
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 10px;
  padding: 1rem;
  background-color: #f9f9f9;
}