/* hidden content for screen readers */
.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hide-element {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

.red-text {
  color: var(--red);
}

.yellow-text {
  color: var(--yellow);
}

.green-text {
  color: var(--green);
}

.text-center {
  text-align: center;
}

.pointer-cursor {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.mt-1rem {
  margin-top: 1rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}