/* hidden content for screen readers */
.sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* * copying the way bootstrap does things by adding !important to utility classes -- 10/19/2023 JH */

.hide-element {
  display: none !important;
}

.no-visibility {
  visibility: hidden !important;
}

.red-text {
  color: var(--red) !important;
}

.yellow-text {
  color: var(--yellow) !important;
}

.green-text {
  color: var(--green) !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.pointer-cursor {
  cursor: pointer !important;
}

.width-100 {
  width: 100% !important;
}

.mt-1rem {
  margin-top: 1rem !important;
}

.mb-1rem {
  margin-bottom: 1rem !important;
}